<html>
  <head>
    <title>{% block title %}PostBin - Debug web hooks{% endblock %}</title>
    <link href="/static/style.css" type="text/css" rel="stylesheet" />
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/start/jquery-ui.css" type="text/css" rel="stylesheet" />    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    {% block header %}{% endblock %}
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <h1>PostBin</h1>
      </div>
      <div id="body">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>